@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Dosis', sans-serif;
}

:modal {
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

:modal::backdrop {
  background: linear-gradient(45deg, #8b008b, #8b0000);
  opacity: 0.2;
}

@layer components {
  .btn {
    @apply text-gray-400 transition hover:text-gray-400/50;
  }
}

@layer utilities {
  .full {
    @apply absolute top-0 left-0 right-0 bottom-0;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .translate-z-0 {
    transform: translateZ(0);
  }

  .translate-z-1 {
    transform: translateZ(1px);
  }

  .translate-z-5 {
    transform: translateZ(5px);
  }

}
